<section class="contact">
  <div class="container">
    <div class="contact__heading">
      <h2 class="contact__h2">
        napište mi<span class="primary-color glow">.</span>
      </h2>
    </div>
    <div class="contact__text">
      Proberme možnosti spolupráce na vašem projektu. Zeptejte se nebo mě rovnou
      poptejte.
    </div>
    <div class="contact__email">
      email -<br />
      <a href="mailto:info@davmarek.cz">info@davmarek.cz</a>
    </div>
  </div>
</section>

<style lang="scss">
  section.contact {
    padding: 200px 0;

    background-color: $dark-grey;

    display: grid;
    place-items: center;

    .contact__text {
      color: $grey;
      line-height: 1.8;
      max-width: 45ch;
    }

    .contact__email {
      margin-top: 64px;
      font-size: 22px;
      a {
        color: $secondary;
        border-bottom: 2px solid $secondary;

        &:focus,
        &:hover {
          color: white;
          border-color: white;
          outline: none;
        }
      }
    }
  }
</style>
