<section class="about">
  <div class="container">
    <div class="about__heading">
      <h2 class="about__h2">
        o mně<span class="primary-color glow">.</span>
      </h2>
    </div>
    <div class="about__img" id="face-img">
      <img src="img/face3.png" alt="" />
    </div>

    <div class="about__text">
      <p>
        Jsem studentem vysoké školy ve Zlíně, zaměřené na Softwarové
        inženýrství. Jsem absolventem Creative Hill College ve Zlíně, kde jsem
        studoval obor Vývoj her a multimediálních aplikací.
      </p>

      <p>
        Nabízím tvorbu
        <span class="secondary-color">
          webových stránek, které budou vyhovovat
        </span>
        dnešním požadavků náročných uživatelů.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section.about {
    background-color: $black;
    padding: 80px 0 160px;

    position: relative;
    overflow: visible !important;

    .about__heading {
      position: relative;
      z-index: 2;

      .about__h2 {
        margin: 0;
      }
    }
    .about__img {
      z-index: 1;
      position: absolute;
      left: -15%;
      width: 135%;
      margin: 0 auto;
      padding: 16px 0 40px 0;

      transform-origin: center top;
      text-align: center;

      img {
        width: 100%;
        filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.3)) brightness(130%);
      }
    }

    .about__text {
      position: relative;
      z-index: 2;
      line-height: 1.5;
    }
  }

  @media only screen and (min-width: $size-sm) {
  }
  @media only screen and (min-width: $size-md) {
  }
  @media only screen and (min-width: $size-lg) {
  }
  @media only screen and (min-width: $size-xl) {
  }

  @media only screen and (min-width: $size-sm) {
    section.about {
      .about__img {
        width: 100%;
        left: 0;
        img {
          width: 80%;
        }
      }
    }
  }
  @media only screen and (min-width: $size-md) {
    section.about {
      .about__img img {
        width: 70%;
      }
    }
  }
  @media only screen and (min-width: $size-lg) {
    section.about {
      .about__img img {
        width: 55%;
      }

      .about__text {
        font-size: 22px;
      }
    }
  }
  @media only screen and (min-width: $size-xl) {
    section.about {
      .about__img img {
        transform: translateY(-120px);
        width: 40%;
      }
    }
  }
</style>
